################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenAIExample/FileContentIndex
/.vs/OpenAIExample/FileContentIndex/10419868-d830-41bf-8b56-86f0fbee4b4d.vsidx
/.vs/OpenAIExample/FileContentIndex/c36e7918-b229-421c-a16d-b79bdbe901d5.vsidx
