################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenAIExample/FileContentIndex/2e91cb79-7162-45e3-be1b-8947d20c1e03.vsidx
/.vs/OpenAIExample/FileContentIndex/368a4d60-1a1a-49fc-97fb-41f15b8074c9.vsidx
/.vs/OpenAIExample/FileContentIndex/bacf9fa4-8969-430b-9ed0-88b81134eb47.vsidx
/.vs/OpenAIExample/FileContentIndex/d45287b1-9f95-44e8-b494-b9be468fca74.vsidx
/.vs/OpenAIExample/FileContentIndex/e98a706b-516f-40c4-ba45-37ec8e0013ef.vsidx
/.vs/OpenAIExample/FileContentIndex/80fd7530-bac5-470a-a5ef-cc09dc70cbb1.vsidx
/.vs/OpenAIExample/FileContentIndex/1693c3b8-3447-4c6e-a26a-e37d0461c453.vsidx
/.vs/OpenAIExample/FileContentIndex/7d0c6310-fdf3-4afb-93d9-d49b4e2920f9.vsidx
/.vs/OpenAIExample/FileContentIndex/90658751-f936-4ac4-bf63-945749b09fc5.vsidx
/.vs/OpenAIExample/FileContentIndex/910c188c-d2b9-4782-9f99-6b09766fb698.vsidx
/.vs/OpenAIExample/FileContentIndex/97bfe612-5149-431a-9e12-f67bc3c362c5.vsidx
