* {
    box-sizing: border-box;
    font-family: 'Palatino Linotype';
}

body {
    margin: 0;
    background-color: #555;
    color: white;
    flex: 1;
}

h1 {
    font-size: 2rem;
}

.body-content {
    padding: 0 1rem;
}